/** @format */

.TextArea {
	width: 100%;
	outline: none;
	resize: none;
	border-radius: 5px;
	overflow: 'hidden';
	border: none;
	padding: 1.5rem 2rem;
	color: var(--dark-grey);
	font-size: 1.8rem;
	font-family: inherit;
}

.TextArea::placeholder {
	color: var(--light-grey);
}
